@import "./breakpoints";

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    hr {
        width: 100%;
    }   
    button {
        border: none;
        background: none;
        font-size: 1.2em;
        font-family: 'Neue Montreal';
        padding: 2vh 0 2vh 0;

        @include medium {
            font-size: 1em;
        }

        @include small {
            font-size: 0.8em;
        }
    }
}