.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
    padding: 2vw 4vw;
    position: fixed;
    width: calc(100% - 8vw);
    top: 0px;


    .header-col {
        margin: 0;
        font-size: 1em;
        font-weight: normal;
        width: calc(100% /3);
    }

    .center {
        text-align: center;
    }

    .right {
        text-align: right;
    }
}

