@import "./breakpoints";

.intro {
    margin: 20vh 0 10vh calc(100% / 12);
    font-size: 4em;
    font-weight: bold;
    line-height: 1;

    @include medium {
        h2 {
            font-size: 1em;
        }
    }

    @include small {
        h2 {
            font-size: 0.5em;
        }
    }

    .title {
        display: flex;
        flex-direction: column;
    }

    .portrait {
        display: flex;

        @include small {
            flex-direction: column;
        }

        .picture {
            display: flex;
            align-items: center;
            img {
                max-width: 100%;
                height: auto;

                @include small {
                    max-width: 50%;
                }
            }
        }
        .description {
            padding: 0 0 0 5vw;
            margin: auto;
            p {
                font-size: 0.5em;
                font-weight: normal;
                line-height: 1.2;
            }
            
            @include medium {
                p {
                    font-size: 0.3em;
                }
            }

            @include small {
                padding: 0;
                p {
                    font-size: 0.2em;
                }
            }

            .button {
                font-size: 0.5em;
                font-weight: normal;

                @include medium {
                    font-size: 0.3em;
                }

                @include small {
                    font-size: 0.1em;
                }

                a {
                    padding: 0 2vh 0 2vh;
                    text-decoration: none;
                    color: white;
                    background-color: black;

                    &:hover {
                        color: black;
                        background-color: white;
                        border-style: solid;
                        border-width: 1px;
                    }
                }
            }
        }
    }
}