@import "./breakpoints";

.projects {
    h2 {
        font-size: 4em;

        @include medium {
            font-size: 3em;
        }

        @include small {
            font-size: 2em;
        }
    }

    .project {
        display: flex;
        margin: 0 0 10vh 0;

        @include small {
            flex-direction: column;
            margin: 0 0 3vh 0;
        }

        h3 {
            font-size: 1.3em;
            min-width: 20vw;
            margin: 0 5vw 0 0;

            @include medium {
                font-size: 1.2em;
            }

            @include small {
                font-size: 1em;
            }
        }
    
        .description {
            font-size: 1.5em;
            margin: 0;

            @include medium {
                font-size: 1.2em;
            }

            @include small {
                margin-top: 1vh;
                font-size: 0.8em;
            }
        }

        .button {
            font-size: 1.5em;
            font-weight: bold;
            margin-top: 3vh;

            @include medium {
                font-size: 1.1em;
            }

            @include small {
                font-size: 0.6em;
            }

            a {
                padding: 0 1vh 0 1vh;
                text-decoration: none;
                color: black;
                background-color: white;
                border-style: solid;
                border-width: 1px;

                &:hover {
                    color: white;
                    background-color: black;
                }
            }
        }

        .stack {
            margin-top: 4vh;

            @include small {
                margin-top: 2vh;
            }

            h4 {
                font-size: 1.2em;
            }

            .svgs {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;

                img {
                    height: 5vh;
                    margin: 2vh 1vw;

                    @include medium {
                        height: 3vh;
                    }

                    @include small {
                        height: 2vh;
                    }
                }
            }
        }
    }

}